.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.picture-capture {
  position: absolute;
  left: -1000px;
}

.user-image {
  width: 320px;
}

.user-image__image {
  vertical-align: top;
}

.user-image__overlay {
  opacity: 0;

  height: 240px;
  width: 320px;
  position: absolute;

  background-color: rgba(54,63,67,.7);
  z-index: 2;
}

.user-image:hover .user-image__overlay {
  opacity: 1;
}

.user-image__status-indicator-wrapper {
  position: relative;
}

.user-image__status-indicator {
  position: absolute;
  height: 4px;
  width: 100%;
  z-index: 3;
  bottom: 0;
}

.user-image__status-indicator--active {
  background-color: #37a447;
}

.user-image__status-indicator--offline {
  background-color: #353e42;
}

.user-image:hover .user-image__status-indicator {
  height: 10px;
}
