.picture-grid {
  display: flex;
  flex-wrap: wrap;
}

.picture-capture {
  position: absolute;
  left: -1000px;
}

.emoji-rain {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  pointer-events: none;
}

.user-image {
  position: relative;
  width: 20%;
  max-width: 480px;
}

.user-image__image {
  width: 100%;
  vertical-align: top;
  object-fit: cover;
}

.user-image__overlay {
  color: white;
  opacity: 0;

  position: absolute;
  height: 100%;
  width: 100%;

  background-color: rgba(54,63,67,.7);
  z-index: 2;
}

.user-image:hover .user-image__overlay {
  opacity: 1;
}

.user-image__status-indicator-wrapper {
  position: relative;
}

.user-image__status-indicator {
  position: absolute;
  height: 6px;
  width: 100%;
  z-index: 3;
  bottom: 0;
}

.user-image__status-indicator--active {
  background-color: #37a447;
}

.user-image__status-indicator--offline {
  background-color: #353e42;
}

.user-image:hover .user-image__status-indicator {
  height: 10px;
}

.user-overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.user-overlay-content__button {
  display: flex;
  justify-content: center;
  width: 100%;
}

.user-overlay-content__details {
  margin-bottom: 20px;
  margin-right: 5px;
  text-align: right;
}

.user-overlay-content__link {
  color: white !important;
  text-decoration: underline;
  font-weight: bold;
}

@media (max-width: 640px) {
  .user-image {
    width: 50%;
  }
}

.control-panel {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: 4;
}

.control-panel__toggle {
  opacity: 0.6;
  margin: 0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-bottom: 0px;
}

.control-panel__toggle:hover, .control-panel__toggle--active {
  opacity: 1;
}

.control-panel__panel {
  text-align: start;
  background-color: rgb(226, 226, 226);;
  padding: 20px;
  padding-bottom: 10px;
}

.control-panel__credits {
  text-align: right;
  font-size: 14px;
}
